.product {
  margin: 5px 0;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

.product--image {
  display: block;
  margin: auto;
}

.product--name {
  display: block;
  font-weight: bold;
}

.product--price {
  display: block;
}

.product--price__cut {
  text-decoration: line-through;
}